.mainLogo img {
    width: 100%;
}

header nav {
    background: var(--main-color);
    position: fixed;
    display: flex;
    bottom: 0;
    height: fit-content;
    width: 100%;
    flex-direction: row;
    z-index: 1000;
    justify-content: space-evenly;
}

header nav a {
    font-size: 2rem;
    text-align: center;
    color: var(--font-color-menu);
    text-decoration: none;
    padding: 2rem 1em;
}

header a {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

header a.active {
    background-color: var(--secondary-color);
}

.menu li {
    margin: 1em;
}

.menu a {
    font-size: 2rem;

    color: var(--secondary-color);
    text-decoration: none;
}

.menu a.active {
    color: var(--secondary-color);
    padding-left: 0.5rem;
    border-left: solid var(--secondary-color);
}

/*https://codepen.io/mutedblues/pen/MmPNPG?editors=1100*/

.menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    flex-direction: column;
}

aside ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

/* aside */

aside {
    background-color: #fff;
    z-index: 3;
    font-size: 2rem;
}

/* menu icon */

aside .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 2rem;
    position: relative;
    user-select: none;
}

aside .menu-icon .navIcon {
    background: #333;
    display: block;
    height: 4px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 40px;
}

aside .menu-icon .navIcon:before,
aside .menu-icon .navIcon:after {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.2s ease-out;

}

aside .menu-icon .navIcon:before {
    top: 10px;
}

aside .menu-icon .navIcon:after {
    top: -10px;
}

/* menu btn */

aside .menu-btn {
    display: none;
}

aside .menu-btn:checked ~ .menu {
    max-height: 240px;
}

aside .menu-btn:checked ~ .menu-icon .navIcon {
    background: transparent;
}

aside .menu-btn:checked ~ .menu-icon .navIcon:before {
    transform: rotate(-45deg);
}

aside .menu-btn:checked ~ .menu-icon .navIcon:after {
    transform: rotate(45deg);
}

aside .menu-btn:checked ~ .menu-icon:not(.steps) .navIcon:before,
aside .menu-btn:checked ~ .menu-icon:not(.steps) .navIcon:after {
    top: 0;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    a {
        font-size: 1rem !important;
    }

    header nav {
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 8rem;
        padding-top: 2rem;
        justify-content: start;
    }

    aside .menu a {
        float: left;
    }

    aside .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    aside .menu-icon {
        display: none;
    }

    .menu {
        display: flex !important;
        width: 100%;
        height: 100vh;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
